@import './normalize.css';
@import './top.css';
@import './login.css';
@import './domain.css';
@import './packages.css';
@import './about-us.css';
@import './comments.css';
@import './functions.css';
@import './footer.css';

html {
  font-size: 10px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.wrapper {
  box-sizing: border-box;
  max-width: 1237px;
  margin: 0 auto;
  padding: 0 20px;
}
